body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#game-board {
    background-color: black;
    border: 2px solid white;
    width: 400px;
    height: 400px;
}



